.display-flex
  display: flex

.justify-start
  justify-content: flex-start

.justify-end
  justify-content: flex-end

.justify-center
  justify-content: center

.align-center
  align-items: center

.pointer
  cursor: pointer !important

.carousel-3d-container .carousel-3d-controls a
  color: white !important

.carousel-3d-container figure
  margin:0

.carousel-3d-container figcaption
  position: absolute
  background-color: rgba(0, 0, 0, 0.8)
  color: #fff
  bottom: 0
  position: absolute
  bottom: 0
  padding: 15px
  font-size: 12px
  min-width: 100%
  box-sizing: border-box


img[lazy=loading]
  margin: 50px 0px 50px 0px
  height: 32px
  width: 32px
